name: CLI (Check)

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
      - uses: biomejs/setup-biome@v2
      - run: npm ci
      - run: biome ci .
      - run: npm run check
      - run: npm test
