name: CLI (Check)

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - uses: biomejs/setup-biome@v2
      - run: bun install
      - run: biome ci .
      - run: bun run check
      - run: bun test
